<div id = "form-list">
<%= form.label :blood_type%><br>
<%= form.text_field :blood_type%><br>
<%= form.label :weight %><br>
<%= form.text_field :weight%><br>
<%= form.label :height%><br>
<%= form.text_field :height%><br>
<%= form.label :insurer%><br>
<%= form.text_field :insurer%><br>
<br>
</div>

