<div>
    <%= form_for [@patient, @health_profile] do |f|%>

    <div id = "form-list">
    <%= f.label :blood_type%><br>
    <%= f.text_field :blood_type%><br>
    <%= f.label :weight %>(kg)<br>
    <%= f.text_field :weight%><br>
    <%= f.label :height%>(m)<br>
    <%= f.text_field :height%><br>
    <%= f.label :insurer%><br>
    <%= f.text_field :insurer%><br>
    </div>
    
    <% if url_for(:only_path => true) == "/patients/#{@patient.id}/health_profiles/new" %>
        <%= render "health_profiles/associationsform", f: f %>
    <% end %>
    
    <div class="submit-field">
      <%= f.submit "Update profile" %>
     <% end %>
     
    </div>
    </div>


