<h1> Edit Health Profile </h1>

<%= form_for edit_patient_health_profile_path(@patient, @health_profile) do |form|%>
<%= render partial: "health_profiles/form", object: form %>

<div class="submit-field">
  <%= form.submit "Submit", data: {confirm: "Edit Profile?"}%>
  <% end %>
  <br>
  <br>
  <%= form_tag(patient_health_profile_path, method: "get") do %>
  <%= submit_tag "Cancel", :name => nil %>
  <% end %>
</div>
