<div>
  <% if current_user.type == "Doctor" %>
    <div> 
      <%= render "appointments/form" %>
    </div>
  <% end %>

  <div>
    <div>
      <p>First Name: <%= @patient.first_name %></p>
      <p>Last Name: <%= @patient.last_name %></p>
      <p>Gender: <%= @patient.gender %></p>
      <p>Birthday: <%= @patient.birthday %></p>
    </div>
    
    <div>
      <p>Blood Type: <%= @health_profile.blood_type %></p>
      <p>Weight(kg): <%= @health_profile.weight %></p>
      <p>Height(m): <%= @health_profile.height %></p>
      <p>BMI: <%= @health_profile.bmi %></p>
      <p>Insurer: <%= @health_profile.insurer %></p>
      <p><%= link_to "Edit Health Profile", edit_patient_health_profile_path %></p>
    </div>
  
    <div>
    <h4>Immunizations:</h4>
      <% @immunizations.each do |i| %>
      <div>
        <p>Type: <%= i.name %></p>
        <p>Expires: <%= i.expiration_date %></p>
        <% end %>
      </div>
    </div>
    
    <div>
      <h4>Allergies:</h4>
      <% @allergies.each do |a| %>
      <div>
        <p>Type: <%= a.name %></p>
        <p>Severity: <%= a.severity %></p>
      </div>
      <% end %>
    </div>
    
    <div>
      <h4>Prescriptions:</h4>
      <% @prescriptions.each do |p| %>
        <div>
          <p>Name: <%= p.medicine %></p>
          <p>Dosage: <%= p.dosage %></p>
          <p>Refills: <%= p.refills %></p>
          <p>Expires: <%= p.expiration_date %></p>
        </div>
      <% end %>
    </div>
    
    <div>
      <h4>Past illnesses:</h4>
      <% @illnesses.each do |i| %>
        <p>Name: <%= i.name %></p>
      <% end %>
    </div>
    
    <div>
      <h4>Past appointments:</h4>
      <% @appointments.each do |a| %>
        <p>Date: <%= a.date %></p>
        <p>Diagnosis: <%= a.diagnosis %></p>
        <p>Referrals: <%= a.referrals %></p>
        <p>Notes: <%= a.notes %></p>
      <% end %>
    </div>
  
  </div>
</div>




