<%if is_doctor?(current_user) %>
  <%if @relation != nil %>
    <%if @relation.doctor_id == current_user.id%>
      <% if allowed_to_view_profile?(current_user, @relation, @patient) %>
        <% if has_health_profile?(@health_profile) %>
        <div> 
          <%= render "appointments/form" %>
        </div>
        <!--  Replaced previous block of code with full health profile information.  -->
           <div>
              <div>
                <p>First Name: <%= @patient.first_name %></p>
                <p>Last Name: <%= @patient.last_name %></p>
                <p>Gender: <%= @patient.gender %></p>
                <p>Birthday: <%= @patient.birthday %></p>
              </div>

              <div>
                <p>Blood Type: <%= @health_profile.blood_type %></p>
                <p>Weight(kg): <%= @health_profile.weight %></p>
                <p>Height(m): <%= @health_profile.height %></p>
                <p>BMI: <%= @health_profile.bmi %></p>
                <p>Insurer: <%= @health_profile.insurer %></p>
                <p><%= link_to "Edit Health Profile", edit_patient_health_profile_path %></p>
              </div>

              <div>
              <h4>Immunizations:</h4>
                <% @immunizations.each do |i| %>
                <div>
                  <p>Type: <%= i.name %></p>
                  <p>Expires: <%= i.expiration_date %></p>
                  <% end %>
                </div>
              </div>

              <div>
                <h4>Allergies:</h4>
                <% @allergies.each do |a| %>
                <div>
                  <p>Type: <%= a.name %></p>
                  <p>Severity: <%= a.severity %></p>
                </div>
                <% end %>
              </div>

              <div>
                <h4>Prescriptions:</h4>
                <% @prescriptions.each do |p| %>
                  <div>
                    <p>Name: <%= p.medicine %></p>
                    <p>Dosage: <%= p.dosage %></p>
                    <p>Refills: <%= p.refills %></p>
                    <p>Expires: <%= p.expiration_date %></p>
                  </div>
                <% end %>
              </div>

              <div>
                <h4>Past illnesses:</h4>
                <% @illnesses.each do |i| %>
                  <p>Name: <%= i.name %></p>
                <% end %>
              </div>

              <div>
                <h4>Past appointments:</h4>
                <% @appointments.each do |a| %>
                  <p>Date: <%= a.date %></p>
                  <p>Diagnosis: <%= a.diagnosis %></p>
                  <p>Referrals: <%= a.referrals %></p>
                  <p>Notes: <%= a.notes %></p>
                <% end %>
              </div>
            </div>
        <!--  Replaced previous block of code with full health profile information.  -->
        <% else %>
        <p>No health profile is created yet</p>
        <% end %>
      <%end%>
    <%end%>
  <%else%>
    <p>You are not authorized to view this page!</p>
  <% end %>
<%end%>


<!-- What is the code below? The formatting on this page is confusing, it needs to be refactored -->

<%if patient_to_view_profile?(current_user, @health_profile) %>
First Name: <%= @patient.first_name %><br />
Last Name: <%= @patient.last_name %><br />
Gender: <%= @patient.gender %><br />
Birthday: <%= @patient.birthday %><br />

Blood Type: <%= @health_profile.blood_type %><br />
Weight(kg): <%= @health_profile.weight %><br />
Height(m): <%= @health_profile.height %><br />
BMI: <%= @health_profile.bmi %><br />
Insurer: <%= @health_profile.insurer %><br />
<%= link_to "Edit Health Profile", edit_patient_health_profile_path %><br />
<br>
Immunizations:<br />
<% @immunizations.each do |i| %>
Type: <%= i.name %><br />
Expires: <%= i.expiration_date %><br />
<% end %><br />
<br>
Allergies:<br />
<% @allergies.each do |a| %>
Type: <%= a.name %><br />
Severity: <%= a.severity %><br />
<% end %><br />
<br>
Prescriptions:<br />
<% @prescriptions.each do |p| %>
Name: <%= p.medicine %><br />
Dosage: <%= p.dosage %><br />
Refills: <%= p.refills %><br />
Expires: <%= p.expiration_date %><br />
<% end %><br />
<br>
Past illnesses:<br />
<% @illnesses.each do |i| %>
Name: <%= i.name %><br />
<% end %><br />
<br>
Past appointments:<br />
<% @appointments.each do |a| %>
Date: <%= a.date %><br />
Diagnosis: <%= a.diagnosis %><br />
Referrals: <%= a.referrals %><br />
Notes: <%= a.notes %>
<% end %>
<%end%>
