<!-- What the Doctor sees -->
<%#if is_doctor?(current_user) %>
      
      <%if @relation != nil %>
        <%#if @relation.doctor_id == current_user.id%>
          <% if allowed_to_view_profile?(current_user, @relation, @patient) %>

                      <% if has_health_profile?(@health_profile) %>
                        <div> 
                        <%= render "appointments/form" %>
                        </div>
                      <!-- Old double code. -->
                      <!--  Replaced previous block of code with full health profile information.  -->
                      <!-- <div> -->
                          <!--   <div>
                              <p>First Name: <%#= @patient.first_name %></p>
                              <p>Last Name: <%#= @patient.last_name %></p>
                              <p>Gender: <%#= @patient.gender %></p>
                              <p>Birthday: <%#= @patient.birthday %></p>
                            </div> -->

                            <!-- <div>
                              <p>Blood Type: <%#= @health_profile.blood_type %></p>
                              <p>Weight(kg): <%#= @health_profile.weight %></p>
                              <p>Height(m): <%#= @health_profile.height %></p>
                              <p>BMI: <%#= @health_profile.bmi %></p>
                              <p>Insurer: <%#= @health_profile.insurer %></p>
                              <p>
                              <%#= link_to "Edit Health Profile", edit_patient_health_profile_path %></p>
                            </div> -->

                            <!-- <div>
                            <h4>Immunizations:</h4>
                            <%#if @immunizations.empty? %>
                               <p> There is no record found for Immunizations!</p>
                                <%# else %>
                              <% #@immunizations.each do |i| %>
                              <div>
                                <p>Type: <%#= i.name %></p>
                                <p>Expires: <%#= i.expiration_date %></p>
                                <%# end %>
                            <%#end%>
                              </div>
                            </div> -->

                           <!--  <div>
                              <h4>Allergies:</h4>
                              <%# if @allergies.empty? %>
                              <p>There is no record found for Allergies!</p>
                              <%#else%>
                              <%# @allergies.each do |a| %>
                              <div>
                                <p>Type: <%#= a.name %></p>
                                <p>Severity: <%#= a.severity %></p>
                              </div>
                              <%#end%>
                              <% #end %>
                            </div> -->

                            <!-- <div>
                              <h4>Prescriptions:</h4>
                               <% #if @prescriptions.empty? %>
                              <p>There is no record found for Prescriptions!</p>
                              <%#else%>
                              <%# @prescriptions.each do |p| %>
                                <div>
                                  <p>Name: <%#= p.medicine %></p>
                                  <p>Dosage: <%#= p.dosage %></p>
                                  <p>Refills: <%#= p.refills %></p>
                                  <p>Expires: <%#= p.expiration_date %></p>
                                </div>
                              <%#end %>
                              <%# end %>
                            </div> -->

                           <!--  <div>
                              <h4>Past illnesses:</h4>
                              <%#if @illnesses.empty? %>
                              <p>There is no record found for Illnesses!</p>
                              <%#else%>
                              <%# @illnesses.each do |i| %>
                                <p>Name: <%#= i.name %></p>
                              <%#end%>
                              <%# end %>
                            </div> -->

                            <!-- <div>
                              <h4>Past appointments:</h4>
                              <%# if @appointments.empty? %>
                              <p>There is no record found for Appointments.</p>
                              <% #else%>
                              <%# @appointments.each_with_index do |a, index| %>
                                <p>No.<%#= index+ 1%></p>
                                <p>Date: <%#= a.date %></p>
                                <p>Diagnosis: <%#= a.diagnosis %></p>
                                <p>Referrals: <%#= a.referrals %></p>
                                <p>Notes: <%#= a.notes %></p>
                                <%#end%>
                              <% #end %>
                            </div> -->
                          <!-- </div> -->
                      <!--  Replaced previous block of code with full health profile information.  -->
                      <% else %>
                        <p>No health profile is created yet</p>
                      <%end %>
          <%else%>
            <p>You are not authorized to view this page!</p>
            <%= link_to "Homepage", root_path %>
          <% end %>
      <%end%>
        <%#end%>
      
<%#end%>


<!-- What the Patient sees -->


<%if patient_to_view_profile?(current_user, @health_profile) || is_doctor?(current_user)%>
 <% if  current_user.type == "Patient" || allowed_to_view_profile?(current_user, @relation, @patient) %>
    <div style="margin-left: 50px; margin-right: 50px; margin-top: 2em;">
          <div class="row">
            <div class="col-4">
              <!-- Basic Health Details -->
              <div class="basic_health_prof_container">
                <div id="profile_img_container">
                  <%=image_tag("/assets/profile.jpg", id: "profile_img")%>
                </div>
                <div class=" display-3" id="health_prof_name">
                  <%= @patient.first_name %>
                  <%= @patient.last_name %>
                </div>
               <div class="HL"></div>
                <div class="display-3" id="basic_info_item" class="display-3 basic_info_item">
                  <%=image_tag("/assets/gender.png", class: "icon")%>
                  <%= @patient.gender %>
                </div>
                <div class="display-3" id="basic_info_item">
                  <%=image_tag("/assets/birthday.png", class: "icon")%>
                  <%= @patient.birthday %><br/>
                </div>
                <div class="display-3" id="basic_info_item">
                  <%=image_tag("/assets/blood.png", class: "icon")%>
                  Blood Type: <%= @health_profile.blood_type %><br/>
                </div>
                <div class="display-3" id="basic_info_item">
                  <%=image_tag("/assets/weight.png", class: "icon")%>
                  Weight(kg): <%= @health_profile.weight %><br />
                </div>
                <div class="display-3" id="basic_info_item">
                  <%=image_tag("/assets/height.png", class: "icon")%>
                  Height(m): <%= @health_profile.height %><br />
                </div>
                <div class="display-3" id="basic_info_item">
                  <%=image_tag("/assets/bmi.png", class: "icon")%>
                  BMI: <%= @health_profile.bmi %><br />
                </div>
                <div class="display-3" id="basic_info_item">
                  <%=image_tag("/assets/insurance.png", class: "icon")%>
                  Insurer: <%= @health_profile.insurer %><br />
                </div>
                 <div class="display-3" id="edit_profile_button_container">
                  <%= link_to "Edit Health Profile", edit_patient_health_profile_path, id:"edit_profile_button" %><br>
                </div>
              </div>
              <!-- Immu -->
              <div class="basic_health_prof_container">
                <div class=" display-3" id="immun_title">
                Immunizations
                </div>
                <div class="HL"></div>
                <% @immunizations.each do |i| %>
                Type: <%= i.name %><br />
                Expires: <%= i.expiration_date %><br />
                <% end %><br />
              </div>
              <!-- Allergies -->
              <div class="basic_health_prof_container">
                <div class=" display-3" id="immun_title">
                  Allergies
                </div>
                <div class="HL"></div>
                <% @allergies.each do |a| %>
                Type: <%= a.name %><br />
                Severity: <%= a.severity %><br />
                <% end %><br />
              </div>
              <!-- Illness -->
              <div class="basic_health_prof_container">
                <div class=" display-3" id="immun_title">
                  Past illnesses
                </div>
                <div class="HL"></div>
                <% @illnesses.each do |i| %>
                Name: <%= i.name %><br />
                <% end %><br />
                <br>
              </div>
              <!-- Prescriptions -->
              <div class="basic_health_prof_container">
                <div class=" display-3" id="immun_title">
                  Prescriptions
                </div>
                <div class="HL"></div>
                <%@prescriptions.each do |p| %>
                <div class=prescriptions_item  data-aos-offset="0" data-aos-delay="100" data-aos="fade">
                  <%=image_tag("/assets/medicine.png", class: "icon_prescrip")%>
                  Name:<%= p.medicine %><br />
                  <%=image_tag("/assets/doctor.png", class: "icon_prescrip")%>
                  Refills: <%= p.refills %><br />
                  <%=image_tag("/assets/timer.png", class: "icon_prescrip")%> 
                  Expires: <%= p.expiration_date %><br />
                  <%=image_tag("/assets/dosage.png", class: "icon_prescrip")%>  
                  Dosage: <%= p.dosage %><br />
                </div>
              <%end%><br />
              </div>
            </div>
            <!-- Appointments -->
            <div class="col-8" style="overflow: hidden;">
            <% @appointments.each do |a| %>
              <div class="row">
                <div class="appointment_full_health_profile" style="width: 100%;" data-aos-offset="0" data-aos-delay="100" data-aos="fade-left"> 
                  <div class="row">
                    <!-- Date: <%#= a.date %><br /> -->
                    <div class="appointment_healthprof_date_month">
                      <%=a.date.strftime("%B")%>
                    </div>
                    <div class="appointment_healthprof_date_number">
                      <%=a.date.strftime("%d")%>
                    </div>
                    <div class="appointment_details_patients">
                      <div class="display-3" id="appointment_small_title">Diagnosis:</div> <%= a.diagnosis %><br />
                      <div class="display-3" id="appointment_small_title">Referrals:</div> <%= a.referrals %><br />
                      <div class="display-3" id="appointment_small_title">Notes:</div> <%#= a.notes %><br>
                    <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            </div>        
          </div>
    </div>
  <%end%>
<%end%>


