<%if is_doctor?(current_user) %>
  <%if @relation != nil %>
    <%if @relation.doctor_id == current_user.id%>
      <% if allowed_to_view_profile?(current_user, @relation, @patient) %>
        <% if has_health_profile?(@health_profile) %>
        <div> 
          <%= render "appointments/form" %>
        </div>
        <!--  Replaced previous block of code with full health profile information.  -->
           <div>
              <div>
                <p>First Name: <%= @patient.first_name %></p>
                <p>Last Name: <%= @patient.last_name %></p>
                <p>Gender: <%= @patient.gender %></p>
                <p>Birthday: <%= @patient.birthday %></p>
              </div>

              <div>
                <p>Blood Type: <%= @health_profile.blood_type %></p>
                <p>Weight(kg): <%= @health_profile.weight %></p>
                <p>Height(m): <%= @health_profile.height %></p>
                <p>BMI: <%= @health_profile.bmi %></p>
                <p>Insurer: <%= @health_profile.insurer %></p>
                <p>
                <%= link_to "Edit Health Profile", edit_patient_health_profile_path %></p>
              </div>

              <div>
                <h4>Immunizations:</h4>
                <%if @immunizations.empty? %>
                   <p> There is no record found for Immunizations!</p>
                    <% else %>
                      <% @immunizations[0..2].each do |i| %>
                    <p>Type: <%= i.name %></p>
                    <p>Expires: <%= i.expiration_date %></p>
                    <% end %>
                <%end%>
                <% if @immunizations[4..50]!=nil %>
                  <a href="#"> Show more </a>
                  <div class="hidden" id="immunization">
                  <% @immunizations[3..50].each do |i| %>
                    <p>Type: <%= i.name %></p>
                    <p>Expires: <%= i.expiration_date %></p>
                    <% end %>
                  <% end %>
                    <script>
                      $(document).on('click', function(){
                        $("#allergy").show();
                        return false;
                      });
                    </script>
                  </div>
                </div>


                <div>
                  <h4>Allergies:</h4>
                  <% if @allergies.empty? %>
                  <p>There is no record found for Allergies!</p>
                    <%else%>
                      <% @allergies[0..2].each do |a| %>
                      <p>Type: <%= a.name %></p>
                      <p>Severity: <%= a.severity %></p>
                    <% end %>
                  <% end %>
                  <% if @allergies[4..50] != nil %>
                    <%=link_to "Show more", id="allergy" %>
                    <div class="hidden" id="allergy">
                      <% @allergies[3..50].each do |a| %>
                      <p>Type: <%= a.name %></p>
                      <p>Severity: <%= a.severity %></p>
                    <% end %>
                  <% end %>
                  </div>
                    <script>
                      $(document).on('click', function(){
                        $("#allergy").show();
                        return false;
                      });
                    </script>
                  </div>
              

              <div>
                <h4>Prescriptions:</h4>
                 <% if @prescriptions.empty? %>
                <p>There is no record found for Prescriptions!</p>
                <%else%>
                <% @prescriptions[0..2].each do |p| %>
                    <p>Name: <%= p.medicine %></p>
                    <p>Dosage: <%= p.dosage %></p>
                    <p>Refills: <%= p.refills %></p>
                    <p>Expires: <%= p.expiration_date %></p>
                  <% end %>
                <% end %>
                <% if @prescriptions[4..50] != nil %>
                  <%= link_to "Show more", id="prescription" %>
                  <div class="hidden" id="prescription">
                    <% @prescriptions[3..50].each do |p| %>
                    <p>Name: <%= p.medicine %></p>
                    <p>Dosage: <%= p.dosage %></p>
                    <p>Refills: <%= p.refills %></p>
                    <p>Expires: <%= p.expiration_date %></p>
                  <% end %>
                <% end %>
                </div>
                    <script>
                      $(document).on('click', function(){
                        $("#prescription").show();
                        return false;
                      });
                    </script>
              </div>

              <div>
                <h4>Past illnesses:</h4>
                <%if @illnesses.empty? %>
                <p>There is no record found for Illnesses!</p>
                <%else%>
                <% @illnesses[0..2].each do |i| %>
                  <p>Name: <%= i.name %></p>
                <%end%>
                <% end %>
                <% if @illnesses[4..50] != nil %>
                  <% link_to "Show more", id="illness" %>
                  <div class="hidden" id="illness">
                  <% @illnesses[3..50].each do |i| %>
                  <p>Name: <%= i.name %></p>
                  <% end %>
                <% end %>
                </div>
                    <script>
                      $(document).on('click', function(){
                        $("#prescription").show();
                        return false;
                      });
                    </script>
              </div>

              <div>
                <h4>Past appointments:</h4>
                <% if @appointments.empty? %>
                <p>There is no record found for Appointments.</p>
                <%else%>
                <% @appointments[0..2].each_with_index do |a, index| %>
                  <p>No.<%= index+ 1%></p>
                  <p>Date: <%= a.date %></p>
                  <p>Diagnosis: <%= a.diagnosis %></p>
                  <p>Referrals: <%= a.referrals %></p>
                  <p>Notes: <%= a.notes %></p>
                  <%end%>
                <% end %>
                <% if @appointments[4..50] != nil %>
                  <%=link_to "Show more", id="apppointment" %>
                  <div class="hidden" id="apppointment">
                  <% @appointments[3..50].each_with_index do |a, index| %>
                  <p>No.<%= index+ 1%></p>
                  <p>Date: <%= a.date %></p>
                  <p>Diagnosis: <%= a.diagnosis %></p>
                  <p>Referrals: <%= a.referrals %></p>
                  <p>Notes: <%= a.notes %></p>
                  <%end%>
                <% end %>
                </div>
                    <script>
                      $(document).on('click', function(){
                        $("#apppointment").show();
                        return false;
                      });
                    </script>
              </div>
            </div>
        <!--  Replaced previous block of code with full health profile information.  -->
        <% else %>
        <p>No health profile is created yet</p>
        <% end %>
      <%end%>
    <%end%>
  <%else%>
    <p>You are not authorized to view this page!</p>
    <%= link_to "Homepage", root_path %>
  <% end %>
<%end%>


<!-- What is the code below? The formatting on this page is confusing, it needs to be refactored -->

<%if patient_to_view_profile?(current_user, @health_profile) %>
First Name: <%= @patient.first_name %><br />
Last Name: <%= @patient.last_name %><br />
Gender: <%= @patient.gender %><br />
Birthday: <%= @patient.birthday %><br />

Blood Type: <%= @health_profile.blood_type %><br />
Weight(kg): <%= @health_profile.weight %><br />
Height(m): <%= @health_profile.height %><br />
BMI: <%= @health_profile.bmi %><br />
Insurer: <%= @health_profile.insurer %><br />
<%= link_to "Edit Health Profile", edit_patient_health_profile_path %><br />
<br>
<div>
<h4>Immunizations:</h4>
<%if @immunizations.empty? %>
   <p> There is no record found for Immunizations!</p>
    <% else %>
      <% @immunizations[0..2].each do |i| %>
    <p>Type: <%= i.name %></p>
    <p>Expires: <%= i.expiration_date %></p>
    <% end %>
<%end%>
<% if @immunizations[4..50]!=nil %>
  <a href="#"> Show more </a>
  <div class="hidden" id="immunization">
  <% @immunizations[3..50].each do |i| %>
    <p>Type: <%= i.name %></p>
    <p>Expires: <%= i.expiration_date %></p>
    <% end %>
  <% end %>
    <script>
      $(document).on('click', function(){
        $("#allergy").show();
        return false;
      });
    </script>
  </div>

<div>
  <h4>Allergies:</h4>
  <% if @allergies.empty? %>
  <p>There is no record found for Allergies!</p>
    <%else%>
      <% @allergies[0..2].each do |a| %>
      <p>Type: <%= a.name %></p>
      <p>Severity: <%= a.severity %></p>
    <% end %>
  <% end %>
  <% if @allergies[4..50] != nil %>
    <%=link_to "Show more", id="allergy" %>
    <div class="hidden" id="allergy">
      <% @allergies[3..50].each do |a| %>
      <p>Type: <%= a.name %></p>
      <p>Severity: <%= a.severity %></p>
    <% end %>
  <% end %>
  </div>
    <script>
      $(document).on('click', function(){
        $("#allergy").show();
        return false;
      });
    </script>
  </div>
<div>
  <h4>Prescriptions:</h4>
   <% if @prescriptions.empty? %>
  <p>There is no record found for Prescriptions!</p>
  <%else%>
  <% @prescriptions[0..2].each do |p| %>
      <p>Name: <%= p.medicine %></p>
      <p>Dosage: <%= p.dosage %></p>
      <p>Refills: <%= p.refills %></p>
      <p>Expires: <%= p.expiration_date %></p>
    <% end %>
  <% end %>
  <% if @prescriptions[4..50] != nil %>
    <%= link_to "Show more", id="prescription" %>
    <div class="hidden" id="prescription">
      <% @prescriptions[3..50].each do |p| %>
      <p>Name: <%= p.medicine %></p>
      <p>Dosage: <%= p.dosage %></p>
      <p>Refills: <%= p.refills %></p>
      <p>Expires: <%= p.expiration_date %></p>
    <% end %>
  <% end %>
  </div>
      <script>
        $(document).on('click', function(){
          $("#prescription").show();
          return false;
        });
      </script>
  </div>

<div>
  <h4>Past illnesses:</h4>
  <%if @illnesses.empty? %>
  <p>There is no record found for Illnesses!</p>
  <%else%>
  <% @illnesses[0..2].each do |i| %>
    <p>Name: <%= i.name %></p>
  <%end%>
  <% end %>
  <% if @illnesses[4..50] != nil %>
    <% link_to "Show more", id="illness" %>
    <div class="hidden" id="illness">
    <% @illnesses[3..50].each do |i| %>
    <p>Name: <%= i.name %></p>
    <% end %>
  <% end %>
  </div>
      <script>
        $(document).on('click', function(){
          $("#prescription").show();
          return false;
        });
      </script>
</div>
<div>
    <h4>Past appointments:</h4>
    <% if @appointments.empty? %>
    <p>There is no record found for Appointments.</p>
    <%else%>
    <% @appointments[0..2].each_with_index do |a, index| %>
      <p>No.<%= index+ 1%></p>
      <p>Date: <%= a.date %></p>
      <p>Diagnosis: <%= a.diagnosis %></p>
      <p>Referrals: <%= a.referrals %></p>
      <p>Notes: <%= a.notes %></p>
      <%end%>
    <% end %>
    <% if @appointments[4..50] != nil %>
      <%=link_to "Show more", id="apppointment" %>
      <div class="hidden" id="apppointment">
      <% @appointments[3..50].each_with_index do |a, index| %>
      <p>No.<%= index+ 1%></p>
      <p>Date: <%= a.date %></p>
      <p>Diagnosis: <%= a.diagnosis %></p>
      <p>Referrals: <%= a.referrals %></p>
      <p>Notes: <%= a.notes %></p>
      <%end%>
    <% end %>
    </div>
        <script>
          $(document).on('click', function(){
            $("#apppointment").show();
            return false;
          });
        </script>
  </div>
<% end %>
