<p>First name: <%= f.text_field :first_name %></p>
<p>Last name: <%= f.text_field :last_name %></p>
<p>Email: <%= f.text_field :email %></p>
<p>Birthday: <%=f.date_field :birthday %></p>
<p>City: <%= f.text_field :city %></p>
<p>City: <%= f.text_field :country %></p>
<%= f.submit :Submit %>