<div style="margin-left: 50px; margin-right: 50px; margin-top: 2em;">
   <div class="row">
      <div class=col-12>
         <h2><%="Welcome back " + @patient.first_name %></h2>
      </div>
   </div>
   <br>



   
   <div class=row>
      <div class=col-8>
         <div id= search_doctors_container>
            <%= form_tag patients_search_path, method: :get do %>
               <%= text_field_tag "search", nil, list: "list", placeholder: "Search Doctors", id: "search_doctors" %>
               <datalist id="list"></datalist>
          <%end%>
         </div>

         
            <div id= active_prescrip_container style="margin-top:2rem">
            <div class=col-12>
               <br>
               <h3 class=display-1 id = active_prescrip_title >Active Prescriptions</h3>
               <br>
                  <div id=active_prescription_item_list_container class="row">
                     <% current_user.prescriptions.each do |a|%>
                        <div class=col-6>
                           <div class="active_prescription"  data-aos-offset="0" data-aos-delay="100" data-aos="fade-up">
                              <%if Date.today < a.expiration_date %>
                                 
                                   
                                 <div class = "row">

                                    <div class= col-6>
                                       <div class=display-3 id=medicine_title>
                                          <%=image_tag("/assets/medicine.png", id: "medicine_img")%>  
                                          <%= a.medicine%>
                                       </div>
                                    </div>

                              

                                     <div class= col-6>
                                       <div class=display-3 id=dosage style="font-size: 1.1rem;">
                                          <%=image_tag("/assets/dosage.png", id: "medicine_img") + " Dosage"%>  
                                          <div id=dosage_text style="margin-top: 0.1rem;" >
                                             <%= a.dosage%>
                                          </div>
                                       </div>
                                    </div>

                                 </div>
                                 <div class="row" style="margin-top: -5rem; margin-bottom: 0.5rem;">
                                    <div class=col-6 >
                                       <div class=display-3 id=prescription_exp>
                                           <%=image_tag("/assets/doctor.png", id: "timer_img")%> 
                                          <%= a.doctor.first_name%>
                                       </div>
                                    </div>
                                 </div>
                                 
                                 <div class="row" style="margin-top: 0rem; margin-bottom:0rem; ">
                                    <div class=col-6 >
                                       <div class=display-3 id=prescription_exp>
                                           <%=image_tag("/assets/timer.png", id: "timer_img")%> 
                                          <%= a.expiration_date%>
                                       </div>
                                    </div>
                                 </div>

                                 

                           </div>
                        </div>

                        <%end%>      
                     <%end%>
                  </div>
            </div>

         </div>
         </div>
   




      <div class=col-4>
         <div id = patient_notification_container>
            <h3 id = notifications_header class=display-1>Notifications</h3>
            <div id = notification_list>
               Notifications here
            </div>          
         </div>
      </div>
   </div>



   <br>
   <%= link_to "Create a new health profile", new_patient_health_profile_path(@patient) %> 
   <br>
</div>

