<div style="margin-left: 50px; margin-right: 50px; margin-top: 2em;">
   <div class="row">
      <div class=col-12>
         <h2><%="Welcome back " + @patient.first_name %></h2>
      </div>
   </div>
   <br>



   <%= link_to "Edit", edit_patient_path(@patient)%>
   <div class=row>
      <div class=col-8>
         <div id= search_doctors_container>
            <%= form_tag patients_search_path, method: :get do %>
               <%= text_field_tag "search", nil, list: "list", placeholder: "Search Doctors", id: "big_search" %>
               <datalist id="list"></datalist>
          <%end%>
         </div>

         
            <div id= active_prescrip_container style="margin-top:2rem">
            <div class=col-12>
               <br>
               <h3 class=display-1 id = active_prescrip_title >Active Prescriptions</h3>
               <br>
                  <div id=active_prescription_item_list_container class="row">
                     <% current_user.prescriptions.each do |a|%>
                        <div class=col-6>
                           <div class="active_prescription"  data-aos-offset="0" data-aos-delay="100" data-aos="fade-up">
                              <%if Date.today < a.expiration_date %>
          
                                   
                                 <div class = "row">

                                    <div class= col-6>
                                       <div class=display-3 id=medicine_title>
                                          <%=image_tag("https://s3-ap-southeast-1.amazonaws.com/genkigroup/uploads/images/medicine.png", id: "medicine_img")%>  
                                          <%= a.medicine%>
                                       </div>
                                    </div>

                              

                                     <div class= col-6>
                                       <div class=display-3 id=dosage style="font-size: 1.1rem;">
                                          <%=image_tag("https://s3-ap-southeast-1.amazonaws.com/genkigroup/uploads/images/dosage.png", id: "medicine_img") + " Dosage"%>  
                                          <div id=dosage_text style="margin-top: 0.1rem;" >
                                             <%= a.dosage%>
                                          </div>
                                       </div>
                                    </div>

                                 </div>
                                 <div class="row" style="margin-top: -5rem; margin-bottom: 0.5rem;">
                                    <div class=col-6 >
                                       <div class=display-3 id=prescription_exp>
                                           <%=image_tag("https://s3-ap-southeast-1.amazonaws.com/genkigroup/uploads/images/doctor.png", id: "timer_img")%> 
                                            <% if a.doctor %>
                                              <%= a.doctor.first_name%>
                                            <% else %>
                                              N/A
                                            <% end %>
                                       </div>
                                    </div>
                                 </div>

                                 <div class="row" style="margin-top: 0rem; margin-bottom:0rem; ">
                                    <div class=col-6 >
                                       <div class=display-3 id=prescription_exp>
                                           <%=image_tag("https://s3-ap-southeast-1.amazonaws.com/genkigroup/uploads/images/timer.png", id: "timer_img")%> 
                                          <%= a.expiration_date%>
                                       </div>
                                    </div>
                                 </div>

                                 

                           </div>
                        </div>

                        <%end%>      
                     <%end%>
                  </div>
            </div>

         </div>
         </div>
   
        <div class=col-4>
          <div id = patient_notification_container>
            <h3 class = notifications_header class=display-1>Notifications</h3>
            <div class = notification_list>
               <% patient_notifications = @patient.notifications.where(received: false) %>
               <% if !patient_notifications.empty? %>
                <div>
                    <ul>
                      <% patient_notifications.each do |notification| %>
                        <div id=notification_list_container>
                           <li>
                             <%= render "layouts/notification", notification: notification %>
                             <% if notification.category != "new_patient" %>
                                 <% notification.received = true %>
                                 <% notification.save %>
                             <% end %>
                           </li>
                        </div>
                      <% end %>
                  </ul>
               </div>
               <% else %>
                   You have no new notifications.
               <% end %> 
            </div>          
        </div>

        <div id=active_permissions_container>
        <h3 id = active_permissions_header class=display-1>Health Profile Access</h3>
          <%if @relation.present?%>
            <div id=active_perm_descrip class="display-3">You've given these doctors editing access to your profile</div>
                <% @relation.each do |r| %>
                   <div class=row>
                      <div class=col-12>
                        <div class="display-3" id=active_permissions data-aos-offset="0" data-aos-delay="100" data-aos="fade">
                          <div class="row">
                            <div class="col-9" style="font-size: 1.4rem;" class="display-3">
                              <%= Doctor.find(r.doctor_id).first_name %>
                              <%= Doctor.find(r.doctor_id).last_name %>
                            </div>
                            <div class="col-9" style="font-size: 0.9rem; margin-top: 0.5rem;">
                               <%= Doctor.find(r.doctor_id).email %>
                            </div>

                            <div class="col-3" style="margin-top: -1.25rem; text-align: right;">
                              <%= button_to "Revoke", relation_path(r), data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-outline-success" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                <%end%>
            </div>
          <%else%>
          <div id=active_perm_descrip class="display-3">You've given no doctors editing access to your profile</div>
          <%end%>
      </div>
   </div>



   <br>
   <%if @health_profile != nil %>
   <%= link_to "Health profile", patient_health_profile_path(@patient, @health_profile) %> 
   <% end %>
   <br>
   <%= link_to "Create a new health profile", new_patient_health_profile_path(@patient) %> 
   <br>
</div>

