<div style="margin-left: 50px; margin-right: 50px; margin-top: 2em;">
   
   <div class="row">
      <div class=col-12>
          <%if @result.present? %>
            <h2><%="We found " + @result.size.to_s + " results, for " + params[:search] %></h2>
         <%else%>
            <h2><%="We unfortunately found no results for " + params[:search] %></h2>
         <%end%>
      </div>
   </div>

   <div class=row>
      <div class=col-12>
         <div id= search_again_container>
            <%= form_tag patients_search_path, method: :get do %>
               <%= text_field_tag "search", nil, list: "list", placeholder: "Search again?", id: "big_search" %>
               <datalist id="list"></datalist>
          <%end%>
      </div>
   </div>

  
   <div class=col-12>
       <div class="row">
         <%if @result.present?%>
            <% @result.each do |user| %>
               <div class=col-4>
                  <div class=search_result_containter>     
                     <%if user.type == "Doctor"%>
                       <div class=display-3 style="font-size: 2rem;"> <%= link_to user.first_name, doctor_path(user) %>
                       <%= link_to user.last_name, doctor_path(user) %> </div> 
                       <br>
                       <div>Admission id: <%= link_to user.admission_id, doctor_path(user) %> </div> 
                       <div>Email: <%= user.email %> </div> 
                       <br>
                       <div><%= button_to "Allow Access", relations_path, params: { relation: { doctor_id: user.id, patient_id: current_user.id}}, date:{ confirm: "Add doctor to your list?" }, class: "btn btn-outline-success"%> </div>
                           <% @relation.each do |r| %>
                              <% if r.doctor_id == user %>
                           <%end%>
                           <%= button_to "Destroy", relation_path(r), data: { confirm: 'Are you sure?' }, method: :delete %>
                           <%end%>
                     <%end%>
                  </div>
               </div>
            <%end%>
         <%end%>
      </div>
   </div>

</div>


