
<br>
<div class="patient-form">
    <%= image_tag(current_user.avatar_url.to_s) %>
  <div>
    <h4><u>Personal details</u></h4>
    <p>
      <span>First name: </span>
      <span><%= @patient.first_name %></span>
    </p>
    <p>
      <span>Last name: </span>
      <span><%= @patient.last_name %></span>
    </p>
    <p>
      <span>Email: </span>
      <span><%= @patient.email %></span>
    </p>
    <p>
      <span>Birthday: </span>
      <span><%= @patient.birthday %></span>
    </p>
    <p>
      <span>Language: </span>
      <span><%= @patient.language %></span>
    </p>
    <p>
      <span>City: </span>
      <span><%= @patient.city %></span>
    </p>
    <p>
      <span>Country: </span>
      <span><%= @patient.country %></span>
    </p>
  </div>
  <div>
    <%if @patient.id == current_user.id %>
    <span><%= link_to "Edit Profile", edit_patient_path(current_user) %></span>
    <%end%>
  </div>
</div>

