<div id="form-list">
<%= form.label :first_name%><br>
<%= form.text_field :first_name%><br>
<%= form.label :last_name%><br>
<%= form.text_field :last_name%><br>
<%= form.label :profile_picture%><br>
<%= form.file_field :avatar %><br>
<%= form.label :email%><br>
<%= form.text_field :email%><br>
<%= form.label :password %><br>
<%= form.password_field :password %><br>
<%= form.label :password_confirmation%><br>
<%= form.password_field :password_confirmation %><br>
<%= form.label :gender%><br>
<%= form.radio_button :gender, "female"%>Female
<%= form.radio_button :gender, "male"%>Male<br>
<%= form.label :birthday%><br>
<%= form.date_field :birthday%><br>
<%= form.label :language%><br>
<%= form.text_field :language%><br>
<%= form.label :city%><br>
<%= form.text_field :city%><br>
<%= form.label :country%><br>
<%= form.text_field :country%><br>
<%= form.label :certification%><br>
<%= form.text_field :certification%><br>
<%= form.label :year_of_experience%><br>
<%= form.select :experience, options_for_select((1..20))%><br>
<%#= form.label :admission_ID %><br>
<%#= form.text_field :admission_id%><br>
</div>
