<div id="form-list">
<p>First Name: <%= form.text_field :first_name%></p>
<p>Last Name: <%= form.text_field :last_name%></p>
<p>Profile Picture: <%= form.file_field :avatar %></p> 
<p>Email: <%= form.text_field :email%></p>
<p>Password: <%= form.password_field :password %></p>
<p>Password Confirmation: <%= form.password_field :password_confirmation %></p>
<p>Gender: 
<%= form.radio_button :gender, "female"%>Female
<%= form.radio_button :gender, "male"%>Male</p>
<p>Birthday: <%= form.date_field :birthday%></p>
<p>Language: <%= form.text_field :language%></p>
<p>City: <%= form.text_field :city%></p>
<p>Country: <%= form.text_field :country%></p>
<p>Address: <%= form.text_field :address%></p>
<p>Secondary Address: <%= form.text_field :secondary_address%></p>
<p>Zip Code: <%= form.text_field :zip_code%></p>
<p>State <%= form.text_field :state%></p>
<p>Phone No.: <%= form.text_field :phone_number%></p>
<p>Certification: <%= form.text_field :certification%></p>
<p>Year of Experience: <%= form.select :experience, options_for_select((1..20))%></p>
<p>Specialty: <%= form.text_field :specialty%></p>
<p>Practice: <%= form.text_field :practice%></p>
</div>
