<div class="doctor-form">
<h1> Edit Doctor Profile </h1>
<div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%= value %></div>
    <% end %>
</div>

<%= form_for @doctor do |form|%>
<%= render partial: "doctors/form", object: form %>


<div class="submit-field">
  <%= form.submit "Submit", data: {confirm: "Edit Profile?"}%>
</div>
<%end%>
</div>