
<div style="margin-left: 50px; margin-right: 50px; margin-top: 2em;">
  <div class="row">
    <div class="col-md-8">
      <h2>Welcome back, Dr. <%= @doctor.last_name %>.</h2>
      <br>
    </div>
  </div>
  
  <div class="row">
    <div class="col-8">
      <% if !@appointments.empty? %>
      <% @appointments.order(date: :DESC).each do |a|%>
        <div class="row">
          <div class="appointment" data-aos-offset="0" data-aos-delay="200" data-aos="fade-up">
            <div class="appointment_date_month">
               <%=a.date.strftime("%B")%>
            </div>

            <div class="appointment_date_number">
              <%=a.date.strftime("%d")%>
            </div>
          
            <div class="appointment_details">
              <p>
                <i class="fas fa-plus" style="font-size: 1rem;"></i>
                <%=a.patient.first_name + " " +a.patient.last_name%>
                <br>
                <i class="far fa-sticky-note"></i>
                <%= a.symptoms.join(', ')%>
                <br>
                <i class="fas fa-pills"></i>
                Active Prescriptions:  
               
               
                <% a.prescriptions.each do |b|%>
                  <%if Date.today < b.expiration_date %>
                    <%=  b.medicine%>
                  <%else%>
                    <br>
                    <i class="fas fa-check"></i>
                    Finished Prescriptions:
                    <%=  b.medicine%>
                    <%end%>
                  <%end%>
              </p>
            </div>
          </div> 
        </div>   
      <%end%>
    <% else %>
      <div class="appointment" data-aos-offset="0" data-aos-delay="200" data-aos="fade-up">
        <p style="margin: auto; padding-top: 3em; padding-left: 2em; justify: left; height: 20%;">You have no appointments.</p>
      </div>
    <% end %>
    </div>

    <div class="col-4">

          <div id="notification">
          <div id="doctor_notification_container">
            <h3 class ="notifications_header" class="display-1">Notifications:</h3>
            <div class = notification_list>
              <% doctor_notifications = @doctor.notifications.where(received: false) %>
              <% if !doctor_notifications.empty? %>
                <div>
                  <ul>
                    <% doctor_notifications.each do |notification| %>
                      <div class = "notification_list_container">
                        <li>
                          <%= render "layouts/notification", notification: notification %>
                          <% notification.received = true unless notification.category == "new_doctor" %>
                          <% notification. save%>
                        </li>
                      </div>
                    <% end %>
                  </ul>
                </div>
                <% else %>
                  You have no new notifications.
                <% end %>
            </div>

            </div>
          <div id="search-container" style="margin-right: 0;">
            <%= form_tag doctors_search_path, method: :get do %>
              <%#= label_tag "search" %>
              <%= text_field_tag "search", nil, list: "list", placeholder: "Search for patients", id: "big_search" %>
              <datalist id="list"></datalist>
              <%end%>
          </div> 
          <!-- <div>
          <%= button_to "New Appointment", new_appointment_path, method: :get%>
          </div>  -->
    </div>

  </div>

