<div style="margin-left: 50px; margin-right: 50px; margin-top: 2em;">
   <div class="row">
      <div class=col-12>
         <%if @result.present? %>
            <h2><%="We found " + @result.size.to_s + " results, for " + params[:search] %></h2>
         <%else%>
            <h2><%="We unfortunately found no results, for " + params[:search] %></h2>
         <%end%>
      </div>
   </div>

   <div class=row>
      <div class=col-12>
         <div id= search_again_container>
            <%= form_tag doctors_search_path, method: :get do %>
               <%= text_field_tag "search", nil, list: "list", placeholder: "Search again?", id: "big_search" %>
               <datalist id="list"></datalist>
          <%end%>
      </div>
   </div>

   <div class=col-12>
      <div class="row">
         <br>
         <%if @result.present? %>
            <%@result.each_with_index do |user, index| %>
               <div class=col-4>
                  <div class=search_result_containter> 

                     <% if user.type == "Doctor" %>
                        <div class=display-3 style="font-size: 2rem;"> 
                           Dr. 
                           <%=user.first_name + " " + user.last_name%>   
                        </div>
                        <br>
                        <div>Admission id: <%= link_to user.admission_id, doctor_path(user) %> </div> 
                        <div>Email: <%= user.email %> </div> 
                        <br>
                     <% end %>
                     <% @relation = Relation.find_by(patient_id: user.id, doctor_id: current_user.id) %>
                     <% if user.type == "Patient" %>
                        <div class=display-3 style="font-size: 2rem;"> 
                           <% if user.health_profile && @relation %>
                             <%= link_to user.first_name + " " + user.last_name, patient_health_profile_path(user.id, user.health_profile) %>
                           <% elsif !@relation %>
                              <%= user.first_name + " " + user.last_name %>
                           <% elsif !user.health_profile %>
                              <p><%= user.first_name + " " + user.last_name %></p>
                              <h6>This user will be accessible once they've set up their health profile.</h6>
                           <% end %>   
                        </div>
                         <br>
                        <div>Admission id: <%= user.admission_id %> </div> 
                        <div>Email: <%= user.email %> </div> 
                         <br>
                     <%end %>
                  </div>
               </div>
            <%end%>
         <%end%>
      </div>
   </div>

