<table>
<thead>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email</th>
  <th>Admission ID</th>
</thead>
<tbody>
<tr><%= @patients.each do |patient| %></tr>
<tr><%= patient.first_name %></tr>
<tr><%= patient.last_name %></tr> 
<tr><%= patient.email %></tr>  
<tr><%= patient.admission_id %></tr> 
</tbody>
</table>
<%end%>