<div style="margin-left: 50px; margin-right: 50px; margin-top: 2em;">
   <div class="row">
      <div class=col-12>
         <%if @result.present? %>
            <h2><%="We found " + @result.size.to_s + " results, for " + params[:search] %></h2>
         <%else%>
            <h2><%="We unfortunately found no results, for " + params[:search] %></h2>
         <%end%>
      </div>
   </div>
   <div class=col-12>
      <div class="row">
         <br>
         <%if @result.present? %>
            <%@result.each_with_index do |user, index| %>
               <div class=col-4>
                  <div class=search_result_containter> 

                     <% if user.type == "Doctor" %>
                        <div class=display-3 style="font-size: 2rem;"> 
                           Dr. 
                           <%=user.first_name + " " + user.last_name%>   
                        </div>
                        <div>Admission id: <%= link_to user.admission_id, doctor_path(user) %> </div> 
                        <div>Email: <%= user.email %> </div> 
                     <% end %>
                     <% if user.type == "Patient" %>
                        <div class=display-3 style="font-size: 2rem;"> 
                          <%= link_to user.first_name, patient_health_profile_path(user.id, @health_profile) %>  
                          <%= link_to user.last_name, patient_health_profile_path(user.id, @health_profile) %>
                        </div>
                        <div>Admission id: <%= link_to user.admission_id,patient_health_profile_path(user.id, @health_profile) %> </div> 
                        <div>Email: <%= user.email %> </div> 
                     <%end %>
                  </div>
               </div>
            <%end%>
         <%end%>
      </div>
   </div>

