<table>
<thead>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Admission ID</th>
  <th>Email</th>
</thead>
<tbody>
Patients result :<%= @patients.size %>
<% @patients.each do |patient| %>
<td><%= link_to patient.first_name, patient_path(patient) %></td>
<td><%= link_to patient.last_name, patient_path(patient) %></td> 
<td><%= link_to patient.admission_id, patient_path(patient)  %></td> 
<td><%= patient.email %></td>  
<%end%>
</tbody>
</table>