<p class="nested-fields">
    <span><%= f.label :name %></span>
    <span><%= f.text_field :name %></span> 

    <span><%= f.label :severity %></span>
    <span><%= f.select(:severity, [nil, ["Mild", 0], ["Moderate", 1], ["Severe", 2]]) %></span>
    <span><%= f.label :notes %></span>
    <span><%= f.text_field :notes %></span>
    <span><%= link_to_remove_association "delete", f %></span>
</p>

