<p class="nested-fields">
    <span><%= f.label :name %></span>
    <span><%= f.text_field :name %></span> 

    <span><%= f.label :severity %></span>
    <span><%= f.text_field :severity %></span>
    <span><%= link_to_remove_association "delete", f %></span>
</p>

