<%= form_for @appointment do |f| %>
<h2>Patient Appointment Form</h2>
<div>
  <h4>
    General  
    <i class="fas fa-angle-up" id ="appointment-fields-toggle"></i> 
  </h4>

  <div id = "appointment-fields-container">  
    <div>
      <%= f.label :Symptoms %>
      <%= f.text_field :symptoms, id: "symptoms-input" %>
    </div>
    
    <div>
      <%= f.label :Notes %>
      <%= f.text_area :notes %>
    </div>
    
    <div>
      <%= f.label :Diagnosis %>
      <%= f.text_field :diagnosis %>
    </div>
    
    <div>
      <%= f.label :Referrals %>
      <%= f.text_area :referrals, id: "referrals-input" %>
    </div>
    <br>
  </div>
</div>

<div>
  <h4>
    Illnesses
    <i class="fas fa-angle-down" id ="illness-fields-toggle"></i>
  </h4>
  <div id ="illness-fields-container">
    <div>
      <%= f.fields_for :illnesses do |illness| %>
        <%= render "appointments/illness_fields", f: illness %>
      <% end %>
      <div>
        <%= link_to_add_association '+ Illness', f, :illnesses, partial: "appointments/illness_fields" %>
      </div>
    </div>
  </div>
</div>

<br>

<div>
  
  <h4>
    Allergies
    <i class="fas fa-angle-down" id ="allergy-fields-toggle"></i>
  </h4>
  <div id ="allergy-fields-container">
    <div>
    <%= f.fields_for :allergies do |allergy| %>
      <%= render "appointments/allergy_fields", f: allergy %>
      <% end %>
    </div>
    <div>
      <%= link_to_add_association '+ Allergy', f, :allergies, partial: "appointments/allergy_fields" %>
    </div>
  </div>
</div>

<br>

<div>
  
  <h4>
    Immunizations
    <i class="fas fa-angle-down" id ="immunization-fields-toggle"></i>
  </h4>
  <div id ="immunization-fields-container">
    <div>
      <%= f.fields_for :immunizations do |immunization| %>
        <%= render "appointments/immunization_fields", f: immunization %>
      <% end%>
    </div>
    <div>
    <%= link_to_add_association '+ Immunization', f, :immunizations, partial: "appointments/immunization_fields" %>
    </div>
  </div>
  
</div>

<br>

<div>
  <h4>
    Prescriptions
    <i class="fas fa-angle-down" id ="prescription-fields-toggle"></i>
  </h4>
  <div id = "prescription-fields-container">
    <div>
      <%= f.fields_for :prescriptions do |prescription| %>
       <%= render "appointments/prescription_fields", f: prescription %>
      <% end %>
    </div>
    <div>
      <%= link_to_add_association '+ Prescription', f, :prescriptions, partial: "appointments/prescription_fields" %>
    </div>
  </div>
</div>

  <%= hidden_field_tag(:patient_id, params[:patient_id]) %>
  <%= hidden_field_tag(:id, params[:id]) %>

<div>
  <%= f.submit :Submit %>
</div>

<% end %>