<%#= form_for @appointment do |f| %>
<%= form_for @appointment do |f| %>
<div>

  <h4>Appointment</h4>  
  
    <div>
      <%= f.label :Symptoms %>
      <%= f.text_field :symptoms, id: "symptoms-input" %>
    </div>
    
    <div>
      <%= f.label :Notes %>
      <%= f.text_area :notes %>
    </div>
    
    <div>
      <%= f.label :Diagnosis %>
      <%= f.text_field :diagnosis %>
    </div>
    
    <div>
      <%= f.label :Referrals %>
      <%= f.text_area :referrals, id: "referrals-input" %>
    </div>
    
</div>

<div>
  
  <h4>Illnesses</h4>
  <div>
    <%= f.fields_for :illnesses do |illness| %>
      <%= render "appointments/illness_fields", f: illness %>
    <% end %>
  </div>
  <div>
    <%= link_to_add_association '+ Illness', f, :illnesses, partial: "appointments/illness_fields" %>
  </div>
  
</div>

<br>

<div>
  
  <h4>Allergies</h4>
  
  <div>
  <%= f.fields_for :allergies do |allergy| %>
    <%= render "appointments/allergy_fields", f: allergy %>
    <% end %>
  </div>
  <div>
    <%= link_to_add_association '+ Allergy', f, :allergies, partial: "appointments/allergy_fields" %>
  </div>
  
</div>

<br>

<div>
  
  <h4>Immunizations</h4>
  
  <div>
    <div>
      <%= f.fields_for :immunizations do |immunization| %>
        <%= render "appointments/immunization_fields", f: immunization %>
      <% end%>
    </div>
    <div>
    <%= link_to_add_association '+ Immunization', f, :immunizations, partial: "appointments/immunization_fields" %>
    </div>
    
  </div>
  
</div>

<br>

<div>
  
  <h4>Prescriptions</h4>
  
  <div>
    <%= f.fields_for :prescriptions do |prescription| %>
     <%= render "appointments/prescription_fields", f: prescription %>
    <% end %>
  </div>
  <div>
    <%= link_to_add_association '+ Prescription', f, :prescriptions, partial: "appointments/prescription_fields" %>
  </div>
  
</div>

  <%= hidden_field_tag(:patient_id, params[:patient_id]) %>
  <%= hidden_field_tag(:id, params[:id]) %>

<div>
  <%= f.submit :Submit %>
</div>

<% end %>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap2.css" type="text/css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/selectize.js"></script>

 <script>
  $('#symptoms-input').selectize({
    plugins: ['restore_on_backspace', 'remove_button'],
    delimiter: ',',
    persist: false,
    placeholder: "Add a symptom...",
    create: function(input) {
      return {
        value: input,
        text: input
      }
    }
  })
    $('#referrals-input').selectize({
    plugins: ['restore_on_backspace', 'remove_button'],
    delimiter: ',',
    persist: false,
    placeholder: "Add a referral...",
    create: function(input) {
      return {
        value: input,
        text: input
      }
    }
  })
</script>





