<div class="nested-fields">
  
  <p>
    <span>Condition</span>
    <span><%= f.text_field :name %></span> 

    <span><%= f.label :notes %></span>
    <span><%= f.text_field :notes %></span>
    
    <span><%= f.label :chronic %></span>
    <span><%= f.check_box :chronic, {}, true, false %></span>

    <span><%= link_to_remove_association "remove", f %></span>
  </p>
</div>

