<p class="nested-fields">     
    <span><%= f.label "Medicine Name" %></span>
    <span><%= f.text_field :medicine %></span>

    <span><%= f.label :dosage %></span>
    <span><%= f.text_field :dosage %></span>

    <span><%= f.label :refills %></span>
    <span><%= f.text_field :refills %></span>
    
    <span><%= f.label :notes %></span>
    <span><%= f.text_field :notes %></span>

    <span><%= f.label "Valid Until" %></span>
    <span><%= f.date_field :expiration_date %></span>
    
    <span><%= link_to_remove_association "delete", f %></span>
</p>
