

<%= form_for @appointment do |f| %>

<div>
  <%= f.label :Symptoms %>
  <%= f.text_field :symptoms, id: "symptoms-input"  %>
</div>

<div>
  <%= f.label :Notes %>
  <%= f.text_area :notes %>
</div>

<div>
  <%= f.submit :Submit %>
</div>

<% end %>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap2.css" type="text/css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/selectize.js"></script>

<script>
  $('#symptoms-input').selectize({
    plugins: ['restore_on_backspace', 'remove_button'],
    delimiter: ',',
    persist: false,
    placeholder: "Add a symptom...",
    create: function(input) {
      return {
        value: input,
        text: input
      }
    }
  })
</script>