<!DOCTYPE html>
<html>
  <head>
   <title>Genki</title>
   
    <%= csrf_meta_tags %>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap2.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <title>Genki</title>

  </head>

<body>
 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
      <%= link_to image_tag("https://s3-ap-southeast-1.amazonaws.com/genkigroup/uploads/images/genki.jpg", class: "navbar-image") + " Genki", root_path, class: "navbar-brand"%>  
     
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%if signed_in?%>
        <%if current_user.type == "Patient"%>
          <li class="nav-item">
            <div id="patient_health_profile_link_container">
              <%if current_user.health_profile != nil %>
                <%= link_to "Health Profile", patient_health_profile_path(current_user, HealthProfile.find_by(patient_id: current_user.id)), id:"patient_health_profile_link" %> 
              <% else %>
                <%= link_to "Health profile", new_patient_health_profile_path(current_user) %> 
              <%end%>
              <span class="sr-only">(current)</span>
            </div>
          </li>
        <%end%>
      <%end%>

      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>       
      <li class="nav-item">
        <a class="nav-link"  href="#"></a>
      </li>
    </ul>
  
      <!-- <form class="form-inline my-2 my-lg-0">
      Search thingy<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">     
          <button class="btn btn-outline-success my-2 my-sm-0 navbtn" type="submit">Search</button> 
      </form> -->
      <% if signed_in? %>
        <form method="get" action=
          <% if current_user.type == "Doctor" %>
          <%= "/doctors/#{current_user.id}"%>
        <% else %>
          <%= "/patients/#{current_user.id}" %>
        <%#= patient_health_profiles_path(current_user, HealthProfile.find_by(patient_id: current_user.id))%>
      <% end %>
      >
      
     <%= image_tag(current_user.avatar_url(:thumb).to_s, class: "profile-picture")%>
     
        <button class="btn btn-outline-success navbtn" type="submit"> 
          <%if current_user.type == "Doctor" %>
            <%= "Dr." %>
          <%end %>
          <%= current_user.first_name + " " +current_user.last_name%>
        </button>
      </form>
  
        <%= button_to t(".sign_out"), sign_out_path, method: :delete, class: "btn btn-outline-success navbtn"  %>
      <% else -%>
        <!--Don't need that sign in butotn  <%= link_to t(".sign_in"), sign_in_path, class: " navbtn btn btn-outline-success" %> -->
        <button type="button" class="btn btn-outline-success navbtn" id="sign_in_btn">Sign in</button>
        <button type="button" class="btn btn-outline-success navbtn" id="sign_up_btn">Sign Up</button>
      <% end -%>
  
      <%# if Clearance.configuration.allow_sign_up? %>
        <%#= link_to t(".Get Started"), sign_up_path %>
        <!-- <button type="button" class="btn btn-outline-success" id="sign_up_btn">Sign Up</button> -->
      <%# end %>    
      </div>
    </div>
  </nav>
  

  <div id="flash">
        <% flash.each do |key, value| %>
      <div id="flash_<%= key %>"><%= value %></div>
<% end %>
  
  <!-- Modal for Sign up DOES NOT WORK -->
  <div class="modal fade" id="sign_up_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
         
            <h5 class="modal-title" id="exampleModalLongTitle">Sign Up</h5>
  
          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
  
          <div class="buttons_container">
                    <%=button_to "Sign up as a Doctor",  new_doctor_path, method: :get, class: " btn btn-outline-success", id:"doctor_signup", form: {style: 'display:inline-block;'}%>
  
                    <%=button_to "Sign up as a Patient",  new_patient_path, method: :get, class: " btn btn-outline-success", id:"patient_signup", form: {style: 'display:inline-block;'} %>      
          </div>
          <div class="", id="doctor_hidden_form", style="display:none; margin-top: 1em;">
            <!-- html: {id:"sign_up_basic_doctor"}, -->
            <%=form_for :doctor, url: "/doctors" do |f|%>
                <legend>Basic details</legend>
                <p><%= f.text_field :first_name, placeholder: "First name", class: "sign_up_basic_form" %></p>
                <p><%= f.text_field :last_name, placeholder: "Last name" , class: "sign_up_basic_form"%></p>
                <p><%= f.text_field :email, placeholder: "Email" , class: "sign_up_basic_form" %></p>
                <p><%= f.password_field :password, placeholder: "Password" , class: "sign_up_basic_form password_field"%> 
                <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "sign_up_basic_form password_field" %></p>
                  <div class="centered_text submit-field">
                    <%= f.submit  class: " btn btn-outline-success sign_in_button"%>
                  </div>
            <%end%> 
          </div>
          <!-- html: {id:"sign_up_basic_patient"}, -->
          <div class="", id="patient_hidden_form", style="display:none;  margin-top: 1em;">
            <%=form_for :patient,  url: "/patients" do |f|%>
                <legend>Basic details</legend>
                <p><%= f.text_field :first_name, placeholder: "First name", class: "sign_up_basic_form" %></p>
                <p><%= f.text_field :last_name, placeholder: "Last name" , class: "sign_up_basic_form"%></p>
                <p><%= f.text_field :email, placeholder: "Email" , class: "sign_up_basic_form" %></p>
                <p><%= f.password_field :password, placeholder: "Password" , class: "sign_up_basic_form password_field"%> 
                <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "sign_up_basic_form password_field" %></p>
                  <div class="centered_text submit-field">
                    <%= f.submit  class: " btn btn-outline-success sign_in_button"%>
                  </div>
            <%end%>
          </div>
  
  
                 
        </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
      </div>
    </div></div>
  
  <!-- Modal for sign in -->
  <div class="modal fade" id="sign_in_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
         
            <h5 class="modal-title" id="exampleModalLongTitle">Sign in</h5>
          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
            <%#=form_for :user, url: session_path, html: {id:"sign_in_form"} do |f|%>
                <!-- <legend>Sign in</legend> -->
                <!-- <p><%#= f.text_field :email, placeholder: "Email" , class: "sign_up_basic_form" %></p> -->
                <!-- <p><%#= f.password_field :password, placeholder: "Password" , class: "sign_up_basic_form",id:"password_field_large"%>  -->
             <%#end%>
             <div class="centered_text">
               <%= form_for :session, url: session_path do |form| %>
                  <div class="text-field">
                    <%= form.text_field :email, type: 'email',placeholder: "Email", class: "sign_in_basic_form" %>
                  </div>
  
                  <div class="password-field">
                    <%= form.password_field :password, placeholder: "Password",class: "sign_in_basic_form"%>
                  </div>
  
                  <div class="submit-field">
                    <%= form.submit  class: " btn btn-outline-success", id: "sign_in_button"%>
                  </div>
  
                  <div class="other-links">
                    <%= link_to t(".forgot_password"), new_password_path %>
                  </div>
                <% end %>
              </div>
  
  
              <div class="buttons_container">
                <%#=button_to "sign in",  new_doctor_path, method: :get, class: " btn btn-outline-success", id:"sign_in", form: {style: 'display:inline-block;'}%>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/selectize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  </body>
</html>